@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";


@theme {
  --color-mint-500: #ff6b35;
  --color-text-primary: #333;
  --color-text-secondary: #777777;
  --font-primary: "Playfair", serif;
  --font-secondary: "Lato", sans-serif;
  --bg--primary-bg: #f5f5f5;
}

body{
  background-color: #f5f5f5;
  color: #fff;
}
.imgcard{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.modalCard{
  background-color:  rgba(26, 26, 26, 0.847);
}

.name-item{
  min-width: 0;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bgCard{
  background-color:  rgba(0, 0, 0, 0.3);
  
}